.logform-container {
  min-height: 100vh;
  padding: 40px;
  background-color: #f6f4fa;
}

.logform-paper {
  padding: 40px;
  border-radius: 15px;
  background: #ffffff;
}

.logform-title {
  font-size: 28px !important;
  font-weight: bold !important;
  margin-bottom: 20px !important;
}

.section-title {
  margin-top: 25px !important;
  margin-bottom: 15px !important;
  font-weight: bold !important;
  font-size: 20px !important;
  color: #333;
}

/* Submit button */
.submit-btn-box {
  margin-top: 30px;
  text-align: center;
}

.submit-btn {
  background-color: #673ab7 !important;
  color: white !important;
  padding: 10px 25px !important;
  font-size: 16px !important;
  border-radius: 8px !important;
}

.submit-btn:hover {
  background-color: #512da8 !important;
}
